html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #E1F2FF 0% 0% no-repeat padding-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-out;
}



ul{
	list-style: none;
  padding-left: 0px;
}